.navbar{
  background: rgb(204, 192, 192);
  color: rgb(25, 25, 26);
  padding: 40px;
  text-align: center;
}
.card{
  columns: 4;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  width: 350px;
  background-color: rgb(75, 146, 134);
  font-size: 0.5em;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(93, 99, 114);
}
.bot-army{
  display: flex;
  background-color: rgb(198, 166, 206);
  overflow-x: scroll;
}